body {
    background: #333333;
    margin: 0;
    padding: 0;
}
.wrapper {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    height: fit-content;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation {
    display: flex;
    position: relative;
    margin-top: 200px;
    list-style: none;
    padding: 0;
    gap: 20px;
    margin-left: 680px;

}

.logo {
    position: absolute;
    width: 300px;
    height: 55px;
    font-size: 45px;
    font-weight: bold;
    color: #b9b9b9;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

li {
    background: #ff4800;
    border: 0px solid black;
    width: 150px;
    height: 40px;
    text-align: center;
    border-radius: 0px 10px 0px 10px;
    padding-top: 15px;
    font-size: 22px;
    transition: all 0.2s;
}

li:nth-child(3) {
    background: #d8d8d8;
}

.barcontacts{
    color: #333333;
}

li:hover {
    transform: scale(1.2);
}

.end {
    width: 100%;
    border-top: 2px dashed #646464;
    margin-top: 50px;
}

footer {
    text-align: end;
    color: #ff4800;
    font-size: 15px;
    margin-bottom: 10px;

}

.contacts {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 100px;
}

p:nth-child(2) {
    border-left: 2px solid #7a7878;
    padding-left: 12% ;
}

.heading {
    display: block;
    font-size: 25px;
    margin-bottom: 10px;
    color: #a5a5a5;
    padding-bottom: 5px;
    border-bottom: 1px solid #9c9c9c86;
}

.social {
    display: block;
    margin-bottom: 20px;
}

.soc {
    color: #ff4800;
}

img {
    width: 32px;
    height: 32px;
    vertical-align: -10px;
    margin-right: 10px;
}

.mail {
    font-size: 20px;
    color: #ff4800;
    margin-right: 10px;
}

.email {
    color: #ff4800;
    font-size: 18px;
}

.soc:hover {
    text-shadow: #ff4800 0px 0px 12px;
}

.soc:active {
    color:red;
}

.email:hover {
    text-shadow: #ff4800 0px 0px 12px;
}

.email:active {
    color:red;
}

.leftmenu {
    display: none;
}

.leftm {
    display: none;
}

#closeBar {
    display: none;
}

#background {
    display:none;
}

@media screen and (max-device-width: 1052px) {
    #background {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        background: #303030e3;
        z-index: 0;
    }

    #bar {
        width: 250px;
        position: fixed;
        height: 100%;
        background: #303030;
        margin: -200px 0px 0px 0px;
        left: -254px;
        border-right: 4px solid #00000017;
        transition: all ease 0.1s;
        z-index: 0;
    }

    #bar.active {
        left: 0px;
    }

    #clickBtn {
        position: fixed;
        margin: 10px 10px;
        z-index: 2;
    }

    #closeBar {
        display: block;
        position: fixed;
        color: white;
        margin: 10px 10px;
        font-family:'Courier New', Courier, monospace;
        font-size: 80px;
        font-weight: lighter;
        top: -32px;
        margin-left: 1px;
        opacity: 0;
        z-index: 1;
        transition: all ease 0.1s;
    }

    .change {
        opacity: 0;
    }

    .btn {
        position: absolute;
        left: 254px;
        width: 1000%;
        height: 25px;
        padding: 10px;
        background: #414040;
        border-bottom: 2px solid #00000044;
        z-index: 0;
    }


    .bar {
        display: block;
        margin: -200px 0px 208px 0px;
        width: 30px;
        height: 3px;
        background: white;
    }

    .bar:nth-child(3) {
        margin-bottom: 0;
    }

    .leftmenu {
        all: initial;
        display: block;
        margin-top: 50px;
    }

    .leftm {
        all: initial;
        display: block;
        text-align: center;
        margin-bottom: 50px;
        background: #ff4800;
        padding: 20px 0px;
        width: 150px;
        margin-left: 50px;
        border-radius: 0px 10px 0px 10px;
    }

    .leftm:nth-child(3) {
        background: #ffffff;
    }

    .btnm {
        all: initial;
        font-size: 22px;
        font-family: sans-serif;
        color:#ffffff;
        font-weight: bolder;
    }

    .leftmenu li:nth-child(3) a{
        color: #414040;
    }

    .navigation {
        margin-left: 17px;
        margin-top: 200px;
        justify-content: center;
    }

    li {
        font-size: 16px;
        display: none;
    }

    .wrapper {
        padding-left: 0;
    }
    .logo {
        display: flex;
        justify-content: center;
        width:100%;
        margin-top: -100px;
        z-index: -1;

    }

    button {
        margin-top: 100px;
    }

    li:hover {
        transform: none;
    }
    
    .contacts {
        flex-direction: column;
        justify-content: none;
        align-items: center;
        margin-bottom: 50px;
    }

    p:nth-child(2) {
        border-left: none;
        padding:0;
    }

    .soc:hover {
        text-shadow: none;
    }

    .email:hover {
        text-shadow: none;
    }
}